.blockLeftContainer {
    height: 100vh;
}

.titleCol {
    height : 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #183D76;
    font-weight: 900;
    font-size: 5vh;
    font-family: Montserrat;
}

.transactionItem {
    color: grey;
    height: 10vh;
}

.itemContainer {
    height: 5vh;
    margin-bottom: 1vh;
    background-color: #C4C4C4;
    border-radius: 1vh;
    
    align-content: center;
}

.itemRow {
    background-color: red;

}

.text {
    font-size: 20px;
    color: black;
}
