.blockLeftContainer {
    height: 100vh;
}

.titleCol {
    height : 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #183D76;
    font-weight: 900;
    font-size: 5vh;
    font-family: Montserrat;
}

.transactionItem {
    color: grey;
    height: 10vh;
    
}

.itemContainer {
    height: 5vh;
    background-color: grey;
}

.itemRow {
    background-color: red;

}

.name {
    background-color: red;

}
.date {
    background-color: red;

}