.blockContainer3 {
    margin-top: 200px;
    height: 150vh;
    background-size: cover; /* version standardisée */
}

.animatedDiv1 {
    height: 9vh;
    width: 9vh;
    background-color: #FFBDBB ;
    border-radius: 2vh;
    margin-left: 10px;
    z-index: 900;

    /* The animation part: */
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animatedTitle1 {
    z-index: 901;
    position: absolute;
    font-weight: 700;
    font-family: Montserrat;
    color: #0E3570;
    font-size: 4vh;
    margin-left: 3vh;
    margin-top: 4vh;
}

.animatedText1 {
    font-weight: 600;
    font-family: Montserrat;
    color: #798597;
    font-size: 2vh;
    margin-left: 3vh;
    margin-top: 3vh;
}

.animatedDiv2 {
    height: 7vh;
    width: 7vh;
    background-color: #BAC9FF ;
    border-radius: 2vh;
    margin-left: 10px;
    z-index: 900;
    margin-top: 30px;
    margin-left: 3vh;

    /* The animation part: */
    animation-name: spin2;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animatedTitle2 {
    z-index: 901;
    position: absolute;
    font-weight: 700;
    font-family: Montserrat;
    color: #0E3570;
    font-size: 4vh;
    margin-left: 5vh;
    margin-top: 4vh;
}

.animatedText2 {
    font-weight: 600;
    font-family: Montserrat;
    color: #798597;
    font-size: 2vh;
    margin-left: 5vh;
    margin-top: 8vh;
}

.animatedDiv3 {
    height: 15vh;
    width: 15vh;
    background-color: #BBFFE5 ;
    border-radius: 2vh;
    margin-left: 10px;
    z-index: 900;
    margin-top: 30px;

    /* The animation part: */
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animatedTitle3 {
    z-index: 901;
    position: absolute;
    font-weight: 700;
    font-family: Montserrat;
    color: #0E3570;
    font-size: 4vh;
    margin-left: 3vh;
    margin-top: 8vh;
}

.animatedText3 {
    font-weight: 600;
    font-family: Montserrat;
    color: #798597;
    font-size: 2vh;
    margin-left: 3vh;
    margin-top: 4vh;
}

.img1 {
    height: 50%;
    width: 50%;
}

.img2 {
    height: 65%;
    width: 40%;
}

.img3 {
    height: 45%;
    width: 50%;
}

@keyframes spin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

@keyframes spin2 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes spin3 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/*Phones*/
@media (min-width: 576px) { 

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  {  

    
    .blockContainer {
        height: 200vh;
    }
    
    .animatedTitle {
        z-index: 999;
        position: absolute;
        font-weight: 700;
        font-family: Montserrat;
        color: #0E3570;
        font-size: 3vh;
    
    }

    .animatedDiv1 {
        height: 8vh;
        width: 8vh;
    }

    .img1 {
        height: 25%;
        width: 60%;
        margin-top: 80px;
    }

    .animatedTitle1 {
        font-size: 3vh;
    }
    
    .animatedText1 {
        font-size: 1.5vh;
        margin-top: 12vh;
    }

    .img2 {
        height: 35%;
        width: 48%;
        margin-top: 60px;
    }

    .animatedTitle2 {
        font-size: 3vh;
    }
    
    .animatedText2 {
        font-size: 1.5vh;
        margin-top: 12vh;
    }

    .img3 {
        height: 24%;
        width: 60%;
        margin-top: 120px;
    }

    .animatedTitle3 {
        font-size: 3vh;
    }
    
    .animatedText3 {
        font-size: 1.5vh;
        margin-top: 6vh;
    }
}

/*Desktop*/
@media (min-width: 992px) {  

}

/*Large Desktops*/
@media (min-width: 1200px) {  

}
