.colChart {
    background-color: white;
    height: 38vh;
    width: 40vh;
    border-radius: 2vh;
    font-family: 'Montserrat';
    display : flex;
    justify-content : 'center';
    align-items : 'center';
}

/*Phones*/
@media (max-width: 768px) { 
    .colChart {
        height: 42vh;
    }

}
