.posHeaderTitlePro {
    font-size: 5vh;
    font-weight: bold;
    color: #183D76;
    font-family: Montserrat;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.posHeaderPro {
    font-size: 2vh;
    color: #183D76;
    font-family: Montserrat;
    font-weight: lighter;
    font-style: italic;
}


.posHeaderAction {
    margin-top: 5px;  
}

.headerSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSwithIcon {
    font-size: 1.5vh;
    margin-left : 1vh;
    color : darkgrey !important;
}

.headerSwithBrand {
    font-size: 2vh;
    font-family : Montserrat;
    color : darkgrey !important;
}

.headerSwithIcon:hover {
    transform: scale(1.1);
    color : white!important;
    cursor : pointer
}

.closeModalBtn {
    background-color: #183D76 !important;
    color: white !important;
    font-family: 'Montserrat' !important;
    border : 2px #183D76 solid !important;
}

.saveModalBtn {
    background-color: white !important;
    color: #183D76 !important;
    font-family: 'Montserrat' !important;
    border : 2px #183D76 solid !important;
}

/*Phones*/
@media (max-width: 768px) { 
    .posHeaderTitle {
        font-size: 25px !important;
        margin-bottom: 10px;
        font-weight: bold;
        color: #183D76;
        font-family: Montserrat;
        top: 1vh;
    }

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  {
    
    .posHeaderTitle {
        font-size: 4vh !important;
        font-weight: bold;
        color: #183D76;
    
        height: 10vh;
        font-family: Montserrat;
    }

    .posHeaderAction {
        margin-top: 10px;  
    }
}

/*Desktop*/
@media (min-width: 992px) {  
    .posHeaderTitle {
        font-size: 5vh !important;
        font-weight: bold;
        color: #183D76;
    
        font-family: Montserrat;
    }

    .posHeaderAction {
        margin-top: 10px;  
    }
}

/*Large Desktops*/
@media (min-width: 1200px) {  

}