.topRow {
    height: 35vh;
    background-color:  #f4f7ff;

    /* background-color: blue; */
}

.topRowLeftColulm {
    background-color:  #f4f7ff;

    /* background-color: aqua; */
}

.topRowRightColumn {
    background-color:  #f4f7ff;

    /* background-color: azure  ; */
}

.bottomRow {
    background-color:  #f4f7ff;

}

.bottomLeftCol {
    background-color:  #f4f7ff;
}

.bottomRightCol {
    background-color:  #f4f7ff;

    /* background-color: blueviolet */
}
