.posHeaderTitleAdm {
    font-size: 3vh;
    font-weight: bold;
    color: #e47c78;
    font-family: Montserrat;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.posHeaderAdm {
    font-size: 2vh;
    color: #e47c78;
    font-family: Montserrat;
    font-weight: lighter;
    font-style: italic;
}


.posHeaderAction {
    margin-top: 5px;  
}


/*Phones*/
@media (max-width: 768px) { 


}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  {
    
}

/*Desktop*/
@media (min-width: 992px) {  
    .posHeaderTitleAdm {
        font-size: 5vh;
    }
}

/*Large Desktops*/
@media (min-width: 1200px) {  

}