.containerGrowth {
    height: 48vh;
    background-color: white;
    border-radius: 2vh;
    margin-bottom: 5vh;
}

.titleColGrowth {
    text-align: center;
    font-weight: 600;
    font-size: 2.5vh;
    margin-top: 1vh;
    font-family: Montserrat;
}

/*Phones*/
@media (min-width: 576px) { 

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  {  
    .signInText {
        font-size: 1vh;
    }

    .signInCol {
        height : 3vh;
    }

    .signInLink {
        font-size: 1vh;
    } 

    .forgetCol {
        font-size: 0.9vh;
        height: 4vh;
    }

    .rememberCol {
        font-size: 1vh;
        height: 4vh;
    }
}

/*Desktop*/
@media (min-width: 992px) {  
    .containerGrowth {
        margin-bottom: 0vh;
    }

    .titleColGrowth {
        text-align: start;
        margin-left: 1vh;
    }
}

/*Large Desktops*/
@media (min-width: 1200px) {  
    .containerGrowth {
        margin-bottom: 0vh;
    }
}