.mnContainer {
   
    background-color: #183D76;
    border-radius: 2vh;
    padding: 30px;
    margin-top: 30px;
}

.mnTitle {
    text-align: center;
    font-weight: 600;
    font-size: 2.5vh;
    color:#FFF;
    margin-top: 1vh;
    font-family: Montserrat;
}

.number {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    font-family: Montserrat;
    align-items: center;
    justify-content: center;

}

.category {
    font-size: medium;
    font-size: 12px;
    color: #fff;
    font-family: Montserrat;
    align-items: center;
    justify-content: center;
}


/*Phones*/
@media (min-width: 576px) { 

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  {  

}

/*Desktop*/
@media (min-width: 992px) {  

    .mnTitle {
        text-align: center;
        font-weight: 600;
        font-size: 2.5vh;
        color:#FFF;
        margin-top: 0vh;
        height: 5vh;
        font-family: Montserrat;
    }
}

/*Large Desktops*/
@media (min-width: 1200px) {  

}

