.squ1 {
    position: absolute;
    height: 16vh;
    width: 16vh;
    border-radius: 2vh;
    background-color: #BBFFE5 ;

    z-index: 900;
    margin-top: 5vh;
    margin-left: 65vh;

    /* The animation part: */
    animation-name: spin2;
    animation-duration: 45000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squ2 {
    position: absolute;
    height: 10vh;
    width: 10vh;
    background-color: #BAC9FF ;
    border-radius: 2vh;
    z-index: 900;
    margin-top: 35vh;
    /* The animation part: */
    animation-name: spin2;
    animation-duration: 35000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squ3 {
    position: absolute;
    height: 9vh;
    width: 9vh;
    background-color: #FFBDBB ;
    border-radius: 2vh;
    margin-left: 10vh;
    margin-top: 3vh;
    z-index: 900;

    /* The animation part: */
    animation-name: spin;
    animation-duration: 45000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squ4 {
    position: absolute;
    height: 25vh;
    width: 25vh;
    background-color: #FFDEA5 ;
    border-radius: 2vh;
    z-index: 900;
    margin-top: 67vh;
    margin-left: 50vh;

    /* The animation part: */
    animation-name: spin2;
    animation-duration: 35000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squ1-1 {
    position: absolute;
    height: 15vh;
    width: 15vh;
    background-color: #BAC9FF ;
    border-radius: 2vh;
    z-index: 900;
    margin-top: 43vh;
    margin-left: 63vh;

    /* The animation part: */
    animation-name: spin;
    animation-duration: 45000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squ2-2 {
    position: absolute;
    height: 12vh;
    width: 12vh;
    background-color: #BBFFE5 ;
    border-radius: 2vh;
    z-index: 900;
    margin-top: 70vh;
    margin-left: 25vh;
    /* The animation part: */
    animation-name: spin;
    animation-duration: 35000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squ3-3 {
    position: absolute;
    height: 18vh;
    width: 18vh;
    background-color: #FFBDBB ;
    border-radius: 2vh;
    margin-left: 30vh;
    margin-top: 24vh;
    z-index: 900;

    /* The animation part: */
        /* The animation part: */
        animation-name: spin;
        animation-duration: 45000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

}

.squ4-4 {
    position: absolute;
    height: 8vh;
    width: 8vh;
    background-color: #FFDEA5 ;
    border-radius: 2vh;
    z-index: 900;
    margin-top: 86vh;

    /* The animation part: */
    animation-name: spin;
    animation-duration: 35000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squ1-1-1 {
    position: absolute;
    height: 45vh;
    width: 45vh;
    background-color: #FFBDBB ;
    border-radius: 2vh;
    margin-left: 33vh;
    margin-top: 20vh;
    opacity: 0.3;

    animation-name: spin2;
    animation-duration: 45000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squ2-2-2 {
    position: absolute;
    height: 22vh;
    width: 22vh;
    background-color:  #BAC9FF ;
    border-radius: 2vh;
    margin-top: 73vh;
    margin-left: 15vh;
    opacity: 0.3;

    /* The animation part: */
    animation-name: spin2;
    animation-duration: 35000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squ3-3-3 {
    position: absolute;
    background-color: #BBFFE5;
    height: 18vh;
    width: 18vh;
    border-radius: 2vh;
    margin-top: 78vh;
    margin-left: 63vh;
    opacity: 0.3;
    /* The animation part: */
        /* The animation part: */
        animation-name: spin2;
        animation-duration: 45000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

}

.squ4-4-4 {
    position: absolute;
    height: 20vh;
    width:20vh;
    background-color: #FFDEA5;
    border-radius: 2vh;
    margin-top: 10vh;
    margin-left: 6vh;
    opacity: 0.4;

    /* The animation part: */
    animation-name: spin;
    animation-duration: 35000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squJoker {
    position: absolute;
    height: 14vh;
    width: 14vh;
    background-color: #FFDEA5 ;
    border-radius: 2vh;
    margin-top: 50vh;
    margin-left: 10vh;

    /* The animation part: */
    animation-name: spin2;
    animation-duration: 45000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/*Phones*/
@media (min-width: 576px) { 

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  {  
    .squ1 {
     display : none;
    }
    
    .squ2 {
        display : none;

    }
    
    .squ3 {
        display : none;

    }
    
    .squ4 {
        display : none;

    }
    
    .squ1-1 {
        display : none;

    }
    
    .squ2-2 {
        display : none;

    }
    
    .squ3-3 {
        display : none;

    }
    
    .squ4-4 {
        display : none;

    }
    
    .squ1-1-1 {
        display : none;

    }
    
    .squ2-2-2 {
        margin-top: 700px;
    }
    
    .squ3-3-3 {
        margin-left: 30px;
    }
    
    .squ4-4-4 {

    }
    
    .squJoker {
    }

}

/*Desktop*/
@media (min-width: 992px) {  

}

/*Large Desktops*/
@media (min-width: 1200px) {  

}
