.profileInfosContainer {
    background-color: white !important;
    border-radius: 2vh;
    height: 45vh;
    padding: 10px;
    z-index: 992;
}

.profileInfosTitle {
    color: #0E3570 !important;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    font-family: Montserrat;
}

.profileEditRow {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px !important;
}

.profileEdit {

    height: 25px;
    width: 25px;

}

.profileInfosPictureCol {
    justify-content: center;
    display: flex;
}

.profileInfosPicture {
    background-color: #BAC9FF;
    color: white;
    /* background-image: url('../../../../assets/launch-page/marc.png'); */
    border-radius: 2vh;
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.profileInfosUser {
    height: 20vh;
    width: 100%;
    margin-top: 2vh;
}

.profileName {
    color: #0E3570 !important;
    font-size: 3vh;
    font-weight: 400;
    display: flex;
    font-family: Montserrat;
}

.profileInfo {
    color: #0E3570 !important;
    font-size: 17px;
    font-weight: 300;
    display: flex;
    font-family: Montserrat;
}

.profileInfosCol {
    background-color: red;
    font-size: 2vh;
}

.infoTitleUser {
    font-weight: 900;
    color: lightgrey;
}

.fieldUser {
    display: flex;
    height: 4vh;

}

.fieldUserTitle {
    color: darkgrey !important;
    font-size: 2vh;
    font-weight: 900;
    display: flex;
    font-family: Montserrat;
}

.fieldUserInfo {
    margin-left: 2vh;
    color: #0E3570 !important;
    font-size: 2vh;
    font-weight: 400;
    font-family: Montserrat;
}

/*Phones*/
@media (min-width: 576px) { 

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  {

}

/*Desktop*/
@media (min-width: 992px) {  
    
    .profileInfosPicture {
        /* background-image: url('../../../../assets/launch-page/marc.png'); */
        height: 47vh;
        width: 100%;
    }
}

/*Large Desktops*/
@media (min-width: 1200px) {  

}