.pro-infosStoreEnseigneContainer {
    background-color: #f9fafd;
}

.pro-infoStoreEnseignCard {
    background-color: white;
    border-radius: 20px;
    width:100%;
    height: 35vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}

.pro-rowProfilInfosItemsPro {
    display: flex;
    justify-content: center;
    background-color: #f9fafd;
}

.pro-infoStoreEnseignCol {
    display: flex;
    justify-content: center;
    align-items: center
}

.pro-infosStoreEnsigneCenter  {
    justify-content: center;
}

.pro-infosItemTitle {
    color: #0E3570;
    font-size: 15px;
}

.pro-infosItemNumber {
    color: #0E3570;
    font-size: 55px;
    font-weight: 800;
    justify-content: center;
    display: flex;
}

/*Phones*/
@media (min-width: 576px) { 

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  {
    .pro-infoStoreEnseignCard {
        width:35vw;
        height: 30vh;
    }

}

/*Desktop*/
@media (min-width: 992px) {  
    .pro-infoStoreEnseignCard {
        width:35vw;
        height: 35vh;
    }
}

/*Large Desktops*/
@media (min-width: 1200px) {  
    .pro-infoStoreEnseignCard {
        width:35vw;
        height: 235h;
    }
}