.profileInfosContainer {
    background-color: white !important;
    border-radius: 2vh;
    height: 50vh;
    padding: 10px;
}

.profileInfosTitle {
    color: #0E3570 !important;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    font-family: Montserrat;
}

.profileEditRow {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px !important;
}

.profileEdit {
    height: 25px;
    width: 25px;
}

.profileInfosPictureCol {
    justify-content: center;
    display: flex;
}

.profileInfosPictureAdm {
    background-image: url('../../../../assets/launch-page/marc.png');
    border-radius: 2vh;
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border: 3px solid #e47c78;
}

.profileInfosUserAdm {
    height: 20vh;
    width: 100%;
    margin-top: 2vh;
}

.profileName {
    color: #0E3570 !important;
    font-size: 3vh;
    font-weight: 400;
    display: flex;
    font-family: Montserrat;
}

.profileInfoAdm {
    color: #0E3570 !important;
    font-size: 17px;
    font-weight: 300;
    display: flex;
    font-family: Montserrat;
}

.profileInfosCol {
    background-color: red;
    font-size: 2vh;
}

.infoTitleUser {
    font-weight: 900;
    color: lightgrey;
}

.fieldUser {
    display: flex;
    height: 4vh;

}

.fieldUserTitle {
    color: darkgrey !important;
    font-size: 2vh;
    font-weight: 900;
    display: flex;
    font-family: Montserrat;
}

.fieldUserInfoAdm {
    margin-left: 2vh;
    color: #e47c78 !important;
    font-size: 2vh;
    font-weight: 400;
    font-family: Montserrat;
}

.profileInfosUpdateUserAdm {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.updateUserInfoIconAdm {
    color: lightgray;
}

/*Phones*/
@media (min-width: 576px) { 

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  {

}

/*Desktop*/
@media (min-width: 992px) {  
    
    .profileInfosUpdateUserAdm {
        justify-content: flex-end;
    }

    .profileInfosPictureAdm {
        background-image: url('../../../../assets/launch-page/marc.png');
        height: 47vh;
        width: 100%;
    }

    .updateUserInfoIconAdm:hover {
        transform: scale(1.3);
        cursor: pointer;
    }
}

/*Large Desktops*/
@media (min-width: 1200px) {  

}