.sideBarBody {
    z-index: 999;
    background-color: white;
    height: 100%;
    width: 5vw !important;
    position: fixed;
    left: 0 !important;
}

.sideBarCol {
    display: flex;
    height: 8vw;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.sideBarItem {
    height: 35%;
    width: 100%;
    border-radius: 1vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1vw;
}

.sideBarItem:hover {
    background-color: grey;
}