.blockContainer4 {
    margin-top: 80px;
    height: 60vh;
    background-image: -webkit-linear-gradient(87deg, #BAC9FF 80%,white 50%);
    margin-bottom: 80px;
    width: 95% !important;
    border-radius: 2vh;

    background-size: cover; /* version standardisée *//* version standardisée */
}

.decoTitle {
    width: 200px;
    height: 40px;
    background-color: #FFBDBB;
    margin-top: 4vh;
}

.title {
    position: absolute;
    font-weight: 700;
    font-family: Montserrat;
    color: #0E3570;
    font-size: 7vh;
    margin-left: 3vh;
    margin-top: 4vh;
    z-index: 902;
}

.colCard {
    height: 300px;
    width: 95%;
    background-color: white;
    border-radius: 2vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color : #798597;
    font-size: 2.5vh;
    text-align: center;
    font-weight: 500;
    font-family: Montserrat;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    color : #0E3570;
    font-size: 2vh;
    text-align: center;
    margin-top: 2vh;
    font-weight: 900;
    font-family: Montserrat;
    transition: all 300ms;
}

.link:hover {
   transform: scale(1.05);
   cursor: pointer;
}

/*Phones*/
@media (min-width: 576px) { 

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  { 
    .decoTitle {
        margin-top: 5vh;
    }

    .title {
        position: absolute;
        font-weight: 700;
        font-family: Montserrat;
        color: #0E3570;
        font-size: 4vh;
        margin-left: 3vh;
        margin-top: 6vh;
        z-index: 902;
    }

    .blockContainer4 {
        margin-top: 0px;
        height: 45vh;
        background-image: -webkit-linear-gradient(87deg, #BAC9FF 80%,white 50%);
        margin-bottom: 80px;
        width: 95% !important;
        border-radius: 5vh;
    }

    .text {
        font-size: 1.8vh;
    }

    .link {
        font-size: 1.5vh;
    }
}

/*Desktop*/
@media (min-width: 992px) {  

}

/*Large Desktops*/
@media (min-width: 1200px) {  

}
