.blockContainer4 {
    margin-top: 200vh;
    height: 100vh;
}

.decoTitle {
    width: 200px;
    height: 40px;
    background-color: #FFBDBB;
    margin-top: 4vh;
}

.title {
    position: absolute;
    font-weight: 700;
    font-family: Montserrat;
    color: #0E3570;
    font-size: 7vh;
    margin-left: 3vh;
    margin-top: 4vh;
    z-index: 902;
}

.squ1-4 {
    position: absolute;
    height: 60vh;
    width: 60vh;
    border-radius: 2vh;
    background-color:  #FFDEA5;
    z-index: 900;
    transform: rotate(30deg);

    animation-name: spin2;
    animation-duration: 45000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
}

.squ2-4 {
    position: absolute;
    height: 20vh;
    width: 20vh;
    border-radius: 2vh;
    background-color:  #FFBDBD;
    z-index: 900;
    transform: rotate(10deg);
    top: 70px;
    right: 20px;

    animation-name: spin;
    animation-duration: 45000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
}

.squ3-4 {
    position: absolute;
    height: 10vh;
    width: 10vh;
    border-radius: 2vh;
    background-color:  #85FFD3;
    z-index: 900;
    transform: rotate(10deg);
    top: 70vh;
    left: 0px;
    
    animation-name: spin2;
    animation-duration: 45000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
}



.colCard {
    height: 300px;
    width: 95%;
    background-color: white;
    border-radius: 2vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color : #798597;
    font-size: 2.5vh;
    text-align: center;
    font-weight: 500;
    font-family: Montserrat;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    color : #0E3570;
    font-size: 2vh;
    text-align: center;
    margin-top: 2vh;
    font-weight: 900;
    font-family: Montserrat;
    transition: all 300ms;
}

.link:hover {
   transform: scale(1.05);
   cursor: pointer;
}

.colLeft4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative !important;
    overflow: hidden !important;
}

.colRight4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topTitle4 {
    height: 16vh;
    display: flex;
    align-items: center;
    color : #0E3570;
    font-family: Montserrat;
}

.title4 {
    margin-top: 5vh;

    height: 15vh;
    display: flex;
    margin-bottom: 10vh;
    align-items: center;
    color : #0E3570;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 4vh;
}

.text4 {
    margin-top: 5vh;
    height: 12vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    color : grey;
    font-family: Montserrat;
    font-size: 2vh;
}

.btnFollow {
    color: #0E3570;
    height: 7vh;
    margin-top: 5vh;
    width: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vh;
    border: 5px solid #0E3570;
    font-family: Montserrat;
    font-weight: 900;
}

.btnFollow:hover {
    color: white;
    background-color: #0E3570;
    cursor: pointer;
}

.squimg-4 {
    position: absolute;
    height: 60vh;
    width: 60vh;
    border-radius: 2vh;
    z-index: 900;
    background-image: url('../../../assets/launch-page/block_4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*Phones*/
@media (min-width: 576px) { 
    .blockContainer4 {
        margin-top: 250vh;
        height: 100vh;
    }

    .colLeft4 {
        height: 100vh;
    }


}


/*Tablet*/
@media (min-width: 768px) and (max-width: 992px)  { 
    .decoTitle {
        margin-top: 5vh;
    }

    .title {
        position: absolute;
        font-weight: 700;
        font-family: Montserrat;
        color: #0E3570;
        font-size: 4vh;
        margin-left: 3vh;
        margin-top: 6vh;
        z-index: 902;
    }

    .blockContainer4 {
        margin-top: 0px;
        height: 45vh;
        background-image: -webkit-linear-gradient(87deg, #BAC9FF 80%,white 50%);
        margin-bottom: 80px;
        width: 95% !important;
        border-radius: 5vh;
    }

    .text {
        font-size: 1.8vh;
    }

    .link {
        font-size: 1.5vh;
    }
}

/*Desktop*/
@media (min-width: 992px) {  
    .blockContainer4 {
        margin-top: 8vh;
        height: 100vh;
    }

    .topTitle4 {
        height: 0vh;
        display: flex;
        align-items: center;
        color : #0E3570;
        font-family: Montserrat;
        margin-left: 10vh;
    }
    
    .title4 {
        margin-left: 10vh;
        height: 10vh;
        display: flex;
        margin-bottom: 0vh;
        align-items: center;
        color : #0E3570;
        font-family: Montserrat;
        font-weight: 900;
        font-size: 4vh;
    }
    
    .text4 {
        margin-left: 10vh;
        height: 10vh;
        margin-bottom: 0vh;
        display: flex;
        align-items: center;
        color : grey;
        font-family: Montserrat;
        font-size: 2vh;
    }

    .btnFollow {
        margin-left: 10vh;

    }

    .squ3-4 {
        position: absolute;
        height: 10vh;
        width: 10vh;
        border-radius: 2vh;
        background-color:  #85FFD3;
        z-index: 900;
        transform: rotate(10deg);
        top: 60vh;
        left: 60px;
    }

    .squimg-4 {
        position: absolute;
        height: 100vh;
        width: 100vh;
        border-radius: 2vh;
        z-index: 900;
        background-image: url('../../../assets/launch-page/block_4.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

/*Large Desktops*/
@media (min-width: 1200px) {  

}
