.subButton {
    background-color: white !important;
    border: solid orange 2px !important;
    color: orange !important;
    height: 35px !important;
    width: 95px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    margin-top: 2px !important;
    font-family: Montserrat;
}

.logButon {
    background-color: white !important;
    border: solid orange 2px !important;
    height: 35px !important;
    width: 95px !important;
    font-size: 1.7vh !important;
    font-weight: 800 !important;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
}

.logLink {
    color : orange !important;
}

.colButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colSearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.headBandNav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0E3570;
}

.headBandNavText  {
    font-weight: 600 !important;
    font-family: Montserrat;

}

.headBandNavText:hover {
    opacity: 0.5;
    transition: 0.3s;
    text-decoration: none !important;
}

a {
    color: #0E3570 !important;
}

.searchBar {
    width: 80% !important;
    margin-right: 10px;
    height: 70% !important;
}

.logoHeadBand {
    height: 90px;
}

.headBandContainer {
    background-color: #FFFFFF;
    height: 90px;
    position : fixed;
    z-index: 999;
}

/*Phones*/
@media (min-width: 576px) { 
    .headBandRow {
        height: 80px;
    }

    .logButton {
        display: none;
    }

    .subButton {
        display: none;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 992px) {  
    .headBandRow {
        height: 20px;
    }

    .logButton {
        display: none;
    }

    .subButton {
        display: none;
    }

    .headBandNavText  {
        font-size: 1vh !important;
    
    }

    .logButon {
        background-color: white !important;
        border: solid orange 2px !important;
        height: 35px !important;
        width: 95px !important;
        font-size: 1vh !important;
    }
}

/*Desktop*/
@media (min-width: 992px) {  
    .headBandRow {
        height: 20px;
    }
}

/*Large Desktops*/
@media (min-width: 1200px) {  
    .headBandRow {
        height: 50px;
    }

}
