.brandListAdmContainer {
    height: 80vh;
    color: lightgrey;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    border-radius: 1vh;
    background-color: white;
    margin-top: 2vh;
    padding: 2vh;
    padding-left: 2vh;
    overflow-y: scroll;
}

.containerBrandItem {
    height: 15vh;
    border : solid 2px #E47C78;
    margin-bottom: 2vh;
    border-radius: 1vh;
    padding: 1vh;
    padding-left: 2vh;
}

.containerBrandItemActive {
    height: 15vh;
    border : solid 2px #E47C78;
    margin-bottom: 2vh;
    border-radius: 1vh;
    padding: 1vh;
    padding-left: 2vh;
    background-color: #ffcecd;
}

.containerBrandItem:hover {
    cursor: pointer;
    background-color: #ffcecd;
}

.brandIdText {
    color: #E47C78;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 1.7vh;
    overflow-y: scroll;

}

.brandNameText {
    color: #E47C78;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 1.7vh;

}

.brandDescriptionText {
    font-weight: 100;
    font-size: 1.7vh;
    font-family: 'Montserrat';  
    color: #E47C78;
    font-weight: 700;
}

.brandIllustration {
    background-color: lightsalmon;
}

.brandInfos {
    color : black;
    font-weight: 100;

}

.brandInfosDesc {
    color : grey;
    font-weight: 100;
    width: 350px;
    height: 5vh;
    overflow-y: scroll;
    word-wrap: break-word;
}

.updateBrandInfoIconAdm {
    font-size: 1.5vh;
    color: #E47C78 !important;
}

.updateBrandInfoIconAdm:hover {
    cursor : pointer;
    transform: scale(1.3);
    color: white!important;
}